
.nav-link{
    color: black;
}

.img{
    height: 80px;
    width: 80px;
}

.img2{
    height: 500px;
}

.title{
    font-family: Roboto, sans-serif;
    font-size: 32px;
}
.description{
    font-size: 14px;
}

.brand{
    font-weight: bold ;
}